/*
  ========================================
  CSS Reset Start
  ========================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  CSS Reset End
  ========================================
*/

body {
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f3f3f3;
    font-size: 16px;
    font-weight: 300;
}

div {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 12px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

section #motto p {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    line-height: 1.2;
}

.strong {
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.3;
}

section h2 {
    text-transform: uppercase;
}

section #motto {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

nav {
    width: 100%;
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top: 2px solid #f3f3f3;
    text-align:center;
    font-size: 14px;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}
nav a {
    text-decoration: none;
    color: #999;
}
nav a:hover {
    text-decoration: none;
    color: #fff;
}

footer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #222;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

#sections {
    margin-left: 80px;
    margin-right: 80px;
}

section {
    padding-top: 55px;
}

#sections h4 {
    text-align: center;
}

#section-contact a {
    text-decoration: none;
    color: #222;
}

#section-contact a:hover {
    text-decoration: none;
    color: #999;
}

#html5 {
    float: left;
    width: 33.3%;
    padding-right: 10px;
}

#css3 {
    float: left;
    width: 33.3%;
    padding-left: 10px;
    padding-right: 10px;
}

#javascript {
    float: left;
    width: 33.3%;
    padding-left: 10px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}